.text-home {
  position: fixed;
  height: 40px;
  left: 320px;
  top: 134px;

  font-family: 'Roboto';
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.25px;

  color: #1d262d;
}
